.nav-bar{
    padding: 2rem;
    /* height: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-bottom: 1px solid rgb(226, 238, 249);
}
.icons{
    display: flex;
    gap:1rem;
}

.product-card{
    padding: 1rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
}